.cart_totle{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.cart_totle hr{
    margin: 10px 0px;
}

.Cart_totle_details{
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart_totle button{
    border: none;
    color: var(--White);
    background-color: var(--tomato);
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.PlaceOrder{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;

}
.Place_order_left{
    width: 100%;
    max-width: max(30%,500px);

}
.title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;

}
.Place_order_left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color:var(--tomato);

}
.Place_order_left .multi_fildes{
    display: flex;
    gap: 10px;
}
.place_order_write{
    width: 100%;
    max-width: max(40%,500px);

}
.PlaceOrder .cart_totle button {
    margin-top: 30px;
    
}