.Fooddisplay{
    margin-top: 30px;
}
.Fooddisplay h2{
    font-size: max(2vw,24px);
    font-weight: 600;

}

.FooddisplayList{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    row-gap: 50px;
    column-gap: 20px;
}