.Cart{
    margin-top : 100px;

}
.cart_item_title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: var(--gray);
    font-size: max(1vw,12px);
}
.cart_items_item{
    margin: 10px 0px;
    color: black;

}
.cart_items_item img{
    width: 50px;
    border-radius: 5px;
}
.Cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}
.cross{
    cursor: pointer;
    
}

.cart_bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}

.cart_totle{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart_totle hr{
    margin: 10px 0px;
}

.Cart_totle_details{
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart_totle button{
    border: none;
    color: var(--White);
    background-color: var(--tomato);
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.cart_promocode{
    flex: 1;

}
.cart_promocode p{
    color: #555;

}
.Cart_promocode_input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}

.Cart_promocode_input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}
.Cart_promocode_input button{
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: var(--White);
    border-radius: 4px;
}

@media (max-width:750px){
    .cart_bottom{
        flex-direction: column-reverse;

    }
    .cart_promocode{
        justify-content: start;
    }
    
}