.FoodItem{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--black);
    transition: 0.3s;
     animation: fadeIn 1s ease-in-out forwards;
     cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.FoodItemImage{
    width: 100%;
    border-radius: 15px 15px 0px 0px ;
}

.FoodItemInfo{
    padding: 20px;
}
.FoodItemNameRating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.FoodItemNameRating p{
  font-size: 20px;
  font-weight: 500;
}

.Description{
  color: var(--m_gray);
  font-size: var(--font12);
}
.FoodItemPrice{
  color: var(--tomato);
  margin: 10px 0;
  font-weight: 500 ;
  font-size: 22px;
}