.ExplorMenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ExplorMenu h1{
    color: var(--dark_gray);
    font-weight: 500;
}
.ExplorMenu_text{
    max-width: 60%;
    columns: #808080;
}

.Explore_menu_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin:20px 0px;
    overflow-x: scroll;
}
/* .Explore_menu_list ::-webkit-scrollbar{
    display: none;
} */

.explore_menu_list_item img{

    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore_menu_list_item p{
    margin-top: 10px;
    color: var(--gray);
    font-size: max(1.4vw,16px);
    cursor: pointer;
}

.ExplorMenu hr{
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.active{
    border: 4px solid var(--tomato);
    padding: 2px;
}