.LoginPopup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: grid;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login_popup_container{
    place-self: center;
    width: max(23vw,330px);
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    gap: 25px;
 padding: 25px 30px;
 border-radius: 8px;
 font-size: 14px;
 animation: fadeIn  0.5s;

}

.login_popup_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);

}

.login_popup_title img{
    width: 14px;
    cursor: pointer;
}
.login_popup_inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login_popup_inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login_popup_container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color:var(--White);
    background-color: var(--tomato);
    font-size: 15px;
    cursor: pointer;
}
   
.login_popup_condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login_popup_condition input{
    margin-top: 5px;
}

.LoginPopup p span{
    color: var(--tomato);
    font-weight: 500;
    cursor: pointer;
}
