.Header{
    height: 34vw;
    margin: 30px auto;
    background: url('../../../assets/frontend_assets/header_img.png');
    background-size: contain;
    position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.heder_contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 60%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s ease-in-out forwards;
}


.heder_contents h2{
    font-weight: 500;
    color: var(--White);
    font-size: Max(4.5vw,22px);
}  

.heder_contents p{
    color : var(--White);
    font-size: 1vw;
}
.heder_contents button{
    border: none;
    color: var(--gray);
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: var(--White);
    font-size:max(1vw,13px);
    border-radius: 30px;
    cursor: pointer;
}

