@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins&display=swap');

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;

}
a{
  text-decoration: none;
  color: inherit;
  
}

:root{
  --bluish-gray : #495579;
  --tomato : tomato;
  --Soft_pink_white : #fff4f2;
  --White : white;
  --gray : #747474;
  --dark_gray : #262626;

  --Font18 : 18px;
  --Font16 : 16px;
}
