@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap'); */

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;

}
a{
  text-decoration: none;
  color: inherit;
  
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

:root{
  --bluish-gray : #495579;
  --tomato : tomato;
  --Soft_pink_white : #fff4f2;
  --White : white;
  --gray : #747474;
  --border:#a9a9a9;
  --dark_gray : #262626;
  --m_gray : #676767;
  --black: #00000018;
  --Font18 : 18px;
  --Font16 : 16px;
  --font12 : 12px;
}



